* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    transition: all ease .7s;
}

body {
    width: 1349px;
    /* overflow-x: hidden; */

}

.container {
    width: 1349px;
    margin: 0 auto;
    background: url("../image/bg\ img.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-origin: border-box;
    min-height: 100vh;
    padding: 20px 30px;
    /* overflow: scroll; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 28px;
    color: #fff;
}

.content {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.content button {
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.card {
    width: 230px;
}

.card h3 {
    margin-left: 5px;
    font-size: 20px;
    color: #fff;
    background: #000;
    padding: 5px 9px;
    border-radius: 6px;
    display: inline-block;
}


.card .image {
    height: 180px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.card .image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.card .image img:hover {
    
    transform: scale(1.1);
    transform-origin: 15px 15px;
}

footer {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

footer .contents {
    text-align: center;
}

.contents h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
}

.social_media i {
    color: #fff;
}

.social_media i:hover {
    color: yellow;
    transform: scale(1.5);
}

.contents p{
    font-size: 19px;
    margin-top: 15px;

}

.modal_container{
    width: 1366px;
    height: 100vh;
    background-color: #000000ae;
    position: fixed;
    left: 1400px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all ease .5s;
}

.modal{
    width: 80%;
    background-color: #FF9100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    color: #fff;
    font-weight: 100;
    padding: 70px 80px;
    border-radius: 20px;
    position: relative;
} 

.modal h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 100;

}

.modal img{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.modal .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 1.5px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 100;

}

.modal .description{
    overflow-y: scroll;
    font-size: 18px;
    height: 90px;
    border-bottom: 1.5px solid black;
}

.modal .description::-webkit-scrollbar{
    background-color: #FF9100;
}

.modal .description::-webkit-scrollbar-thumb{
    border-radius: 10px;
    width: 2px;
    background-color: #fff;
}

body::-webkit-scrollbar{
    background-image: url("../image/background.jpg");
    padding: 10px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    width: 2px;
    background-color: #fff;
}

.exit{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.loading {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.loading img{
    width: 300px;
}